<footer>
	<div class="outter-wapper main-footer">
		<div class="wrapper">		
			 <div class="box4">
			 	<h3>Kontakt</h3>
			 	<li>kvsplzen@seznam.cz</li>
			 </div>
			 <div class="box4">
			 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla suscipit purus, ac rutrum dui maximus et. Nam magna nunc, commodo nec felis </p>
			 </div>
			 <div class="box4">
			 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla suscipit purus, ac rutrum dui maximus et. Nam magna nunc, commodo nec felis </p>
			 </div>
			 <div class="box4">
			 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla suscipit purus, ac rutrum dui maximus et. Nam magna nunc, commodo nec felis </p>
			 </div>
		</div>
	</div>	
	
	
	<div class="outter-wapper last-footer">
		<div class="wrapper">		
			 <div class="copyright">
			 	<p>KVS Plzeň - Klub Vodního Póla © 2015</p>
			 </div>
			 
			 <div class="social-links">
			 	<li><a href="mailto:kvsplzen@seznam.cz">link 1</a></li>
			 	<li><a href="mailto:kvsplzen@seznam.cz">link 2</a></li>
			 	<li><a href="mailto:kvsplzen@seznam.cz">link 3</a></li>
			 </div>
		</div>
	</div>	
</footer>
</div>
