<footer>
	<div class="outter-wapper">
		<div class="wrapper">		
			 <div class="box4">
			 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla suscipit purus, ac rutrum dui maximus et. Nam magna nunc, commodo nec felis </p>
			 </div>
			 <div class="box4">
			 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla suscipit purus, ac rutrum dui maximus et. Nam magna nunc, commodo nec felis </p>
			 </div>
			 <div class="box4">
			 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla suscipit purus, ac rutrum dui maximus et. Nam magna nunc, commodo nec felis </p>
			 </div>
			 <div class="box4">
			 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla suscipit purus, ac rutrum dui maximus et. Nam magna nunc, commodo nec felis </p>
			 </div>
		</div>
	</div>	
	
	
	<div class="outter-wapper">
		<div class="wrapper">		
			 <div class="copyright">
			 	<p>KVS Plzeň - Klub Vodního Póla © 2015</p>
			 </div>
			 
			 <div class="mail">
			 	<a href="mailto:kvsplzen@seznam.cz"><em>KVSPLZEN@SEZNAM.CZ</em></a>
			 </div>
		</div>
	</div>	
</footer>
</div>
