<footer>
	<div class="outter-wapper main-footer">
		<div class="wrapper">		
			 <div class="box4">
			 	<h2>Kontakt</h2>
			 	<li><strong>Adresa bazénu:</strong></br> nám. Generála Píky 42</br>326 00 Plzeň</li>
			 	<li><a href="">Vyhledat na mapě</a></li>
			 	<li><a href="mailto:kvsplzen@seznam.cz">kvsplzen@seznam.cz</a></li>
			 </div>
			 <div class="box4">
			 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla suscipit purus, ac rutrum dui maximus et. Nam magna nunc, commodo nec felis </p>
			 </div>
			 <div class="box4">
			 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla suscipit purus, ac rutrum dui maximus et. Nam magna nunc, commodo nec felis </p>
			 </div>
			 <div class="box4">
			 	<li><strong>Sídlo klubu:</strong></br> nám. Generála Píky 42</br>326 00 Plzeň</li>
			 	<li><strong>Bankovní spojení:</strong></br>Komerční banka Plzeň, Goethova 2704/1</br>č.u. 2463140287/0100</li>
			 </div>
		</div>
	</div>	
	
	
	<div class="outter-wapper last-footer">
		<div class="wrapper">		
			 <div class="copyright">
			 	<p>KVS Plzeň - Klub Vodního Póla © 2015</p>
			 </div>
			 
			 <div class="social-links">
			 	<li><a href="mailto:kvsplzen@seznam.cz">link 1</a></li>
			 	<li><a href="mailto:kvsplzen@seznam.cz">link 2</a></li>
			 	<li><a href="mailto:kvsplzen@seznam.cz">link 3</a></li>
			 </div>
		</div>
	</div>	
</footer>
</div>
