
footer
	width: 100%
	color: #FFF
	
	.wrapper
		width: 1160px
		margin: 0 auto
		padding: 20px
	
	.main-footer
		background: none repeat scroll 0% 0% #00B4CC
	
	.last-footer
		background: none repeat scroll 0% 0% #1C2721
	
	
