footer
	width: 100%
	color: #FFF
	
	.main-footer
		background: none repeat scroll 0% 0% #00B4CC
		
		li
			border-bottom: 1px solid #fff
		
		li:last-child
			border: none
	
	.last-footer
		background: none repeat scroll 0% 0% #1C2721

		
	
