header
	width: 100%
	background: #61605E
	border-bottom: 2px solid #e1e1e1
	overflow: hidden
nav		
	width: 70%
	float: right
	
	ul
		width: 100%
		list-style-type: none
		margin: 0px auto
		padding: 0px
		overflow: hidden
		position: relative

		li
			float: right
			border-right: 1px dotted #616161

			a
				display: block
				padding: 15px 25px
				color: #fff
				text-shadow: 0 1px 1px #595959

			a:hover
				background: #f9d521
				text-decoration: none

			a:visited
				color: white		

	
