header
	margin-bottom: 30px

	.logo
		margin: 20px auto 50px auto
		padding-left: 20px
		padding-right: 20px
	
	nav		
		width: 100%
		background: $grey-color-light
		overflow: hidden
		background: #979797
		border-bottom: 2px solid #e1e1e1

		ul
			width: 1240px
			list-style-type: none
			margin: 0px
			padding: 0px
			overflow: hidden

			li
				float: left
				border-right: 1px dotted #616161

				a
					display: block
					padding: 15px 25px
					color: #fff
					text-shadow: 0 1px 1px #595959

				a:hover
					background: #f9d521
					text-decoration: none

				a:visited
					color: white		

	
