//blog

.blog_content
	width: 65%
	margin-right: 5%
	float: left
.post
	overflow: hidden

.post-thumbnail
      	margin-right: 5%
	width: 30%
	float: left

.post-text
	width: 65%
	float: right

	.author
		font-size: 90%	
		color: #bcbcbc

	hr
		color: #bcbcbc
		margin-bottom: 20px

	hr:last-child
		display: none

//Side bar

.sidebar
	width: 30%
	float: right	
		
		

//skola plavani
#sign
	text-align: center
	border: 5px dotted $brand-color
	padding: 15px 30px
	margin-bottom: 20px

	.sign
		font-size: 300%
		color: $brand-color

	hr
		margin-bottom: 10px
		
