//blog

.blog_content
	width: 65%
	margin-right: 5%
	float: left
	
.post-content
	width: 100%
	overflow: hidden
	margin: 40px 0px
	
	.hr
		border: 1px solid #CAD2D7 	 
		
.post-thumbnail
	width: 30%
	margin-right: 5%
	float: left

.post-text
	width: 65%
	float: right
	
	.author
		font-size: 11px

.pagination
	margin-top: 30px
	margin-bottom: 10px
	text-align: center
	
//Side bar

.sidebar
	width: 30%
	float: right	
		
		

//skola plavani
#sign
	text-align: center
	border: 5px dotted $brand-color
	padding: 15px 30px
	margin-bottom: 20px

	.sign
		font-size: 300%
		color: $brand-color

	hr
		margin-bottom: 10px
		
