---
layout: page
title: Blog
permalink: /blog/
---


  <ul class="blog_content">
  {% for post in site.posts %}
    <li>
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <p class="author">
    	<span class="date">{{ post.date }}</span>
 	 </p>

 	 <p>{% if post.thumbnail %}
		<img src="{{ post.thumbnail }}" style="width= 100%" align="center" />
		{% else %}
		<img src="/img/thumbnails/nothumbnail.jpg" style="width= 100%" align="center" />
		{% endif %}
	</p>

      {{ post.excerpt }}

	  <a class="btn" href="{{ BASE_PATH }}{{ post.url }}">Celý článek...</a>
	
    </li>
    

    <hr>

  {% endfor %}
</ul>

  
	
